﻿@model X.PagedList.IPagedList<CoctailMagician.Web.Models.BarViewModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common
@using Microsoft.AspNetCore.Identity
@using CoctailMagician.Data.Entities
@using CoctailMagician.Services.Enums

@{
    ViewData["Title"] = "Bar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject SignInManager<User> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Create new Bar</a>
    </p>
}


@{
    var columns = new Dictionary<string, object>[] {
        new Dictionary<string, object> { { "Label", "Name" }, { "SortBy", SortBy.Name }, { "Size", 20 } },
        new Dictionary<string, object> { { "Label", "Location" }, { "SortBy", SortBy.Location }, { "Size", 10 } },
        new Dictionary<string, object> { { "Label", "Rating" }, { "SortBy", SortBy.Rating }, { "Size", 20 } }
    };
}

<table class="table table-hover">
    <thead>
        <tr>
            @foreach (var column in columns)
            {
                <th style="width: @column["Size"]%">

                    @if (ViewBag.SortBy == (SortBy)@column["SortBy"])
                    {
                        var newOrderBy = ViewBag.OrderBy == Order.Asc ? Order.Desc : Order.Asc;
                        @Html.ActionLink(@column["Label"].ToString(), "Index", new { sortBy = @column["SortBy"], orderBy = newOrderBy, search = ViewBag.Search })

                        var faClass = ViewBag.OrderBy == Order.Asc ? "fa fa-sort-up" : "fa fa-sort-down";
                        <i class="@faClass"></i>
                    }
                    else
                    {
                        @Html.ActionLink(@column["Label"].ToString(), "Index", new { sortBy = @column["SortBy"], orderBy = Order.Asc, search = ViewBag.Search })
                    }
                </th>
            }
            <th style="width: 20%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @{
                        if (User.IsInRole("Manager"))
                        {
                            <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit bar</a>
                        }
                    }
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">View bar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(
    Model,
    page => Url.Action("Index", new { page = page, currentFilter = ViewBag.CurrentFilter }),
    new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },
        DisplayEllipsesWhenNotShowingAllPageNumbers = false,
        MaximumPageNumbersToDisplay = 5,
    }
)