﻿@model CoctailMagician.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to <img src="~/assets/homeIcon.png" height="62" width="62"></h1>
    <h1 class="display-3">Magician</h1>
    <hr />
</div>

@*Carousel widget*@
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @{
            for (int i = 0; i < 3; i++)

            {

                <li data-target="#carouselExampleIndicators" data-slide-to="@(i.ToString())" @(i == 1 ? "class='active'" : "")></li>
            }
        }
    </ol>
    <div class="carousel-inner">
        @{
            for (int i = 1; i <= 3; i++)

            {

                <div class="carousel-@(i == 1 ? "item active" : "item")">
                    <img class="d-block w-100" src="~/assets/carousel/@(i.ToString()).jpg" alt="title" height="550">
                    <div class="carousel-caption d-none d-md-block">
                        Coctails been here
                    </div>
                </div>
            }
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr />

@*Top 3 Rated Beers of the month*@
<div class="row">
    
        @foreach (var item in Model.TopRatedCoctails)
        {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1886&q=80" class="card-img-top" alt="default-beer-picture">
                    <div class="card-body">
                        <h3 class="card-title"><b>@item.Name</b></h3>
                        <h4 class="card-title">SOMETHING USEFUL</h4>
                        <p class="card-text"><b>@item.Id</b> is one of our top rated drinks we have in our store. The alcohol % is <b>@item.Id</b>.It is made in </p>
                        <a class="btn btn-primary btn-sm" asp-controller="Coctails" asp-action="Details" asp-route-id="@item.Id">View beer</a>
                    </div>
                </div>
            </div>
        }
    
</div>
<div class="row">

    @foreach (var item in Model.TopRatedBars)
    {
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80" class="card-img-top" alt="default-beer-picture">
                <div class="card-body">
                    <h3 class="card-title"><b>@item.Name</b></h3>
                    <h4 class="card-title">SOMETHING USEFUL</h4>
                    <p class="card-text"><b>@item.Id</b> is one of our top rated drinks we have in our store. The alcohol % is <b>@item.Id</b>.It is made in </p>
                    <a class="btn btn-primary btn-sm" asp-controller="Coctails" asp-action="Details" asp-route-id="@item.Id">View beer</a>
                </div>
            </div>
        </div>
    }

</div>